.cache
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
TAGS
abbrev_defs
ac-comphist.dat
auto-save-list
diary
eclipse.jdt.ls
elpa
emacs-w32.exe.stackdump
eshell
eww-bookmarks
omnisharp
persp-confs
projectile-bookmarks.eld
projectile.cache
recentf
save
server
site-lisp/icy
smex-items
tramp
url
util
workspace
ycmd
constants*
lisp/init-slack.el
GTAGS
GRTAGS
GPATH