[submodule "vendor/avy"]
	path = vendor/avy
	url = https://github.com/abo-abo/avy.git
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = https://github.com/emacs-php/php-mode.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "vendor/rg"]
	path = vendor/rg
	url = https://github.com/dajva/rg.el.git
